@tailwind base;
@tailwind components;
@tailwind utilities;

.animated_line {
  width: 10%;
  height: 5px;
  background-color: #b090ef;
  animation-name: animated_line_1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
/* The animation code */
@keyframes animated_line_1 {
  from {
    width: 4%;
  }
  to {
    width: 30%;
  }
}
